{
    "AWS_KEYID": "<Your AWS Key ID>",
    "AWS_SECRET": "<Your AWS Secret Key>",
    "AWS_BUCKET": "<Your AWS Bucket Name>",

    "AWS_DOWNLOAD_DIRECTORY": ""/mnt/c/Users/winga/OneDrive/Desktop/KDL_SRIP23/data_ingestion/datasets/",

    "DRUID_PROTOCOL": "http",
    "DRUID_SERVERLOC": "localhost",
    "DRUID_PORT": "8888",
    "DRUID_TASK_PATH": "/druid/indexer/v1/task"
}