
table {
    margin: 25px 25px;
    font-size: 0.8rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table tr th, 
th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

th
{
    cursor: pointer;
}

.table tr th:hover,
th:hover
{
    background-color: #00A8A9
}

tr:hover, tr:nth-of-type(even):hover
{
    background-color: #e1f1f1;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}