table {
    margin: 25px 25px;
    font-size: 0.8rem;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.table tr th, 
th {
    background-color: #3d5afe;
    color: #ffffff;
    text-align: center;
}

.table th,
td {
    padding: 12px 15px;
}

th
{
    cursor: pointer;
}

.table tr th:hover,
th:hover
{
    background-color: #002aa9
}

tr:hover, tr:nth-of-type(even):hover, tr:nth-of-type(odd):hover
{
    background-color: #e1f1f1;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tr:nth-of-type(odd) {
    background-color: #ffffff;
}

tr:last-of-type {
    border-bottom: 2px solid #536dfe;
}